# Ignore virtual environment
venv/

# Byte-compiled / cache
__pycache__/
*.py[cod]

# Env files
.env

# OS/mac-specific files
.DS_Store

# VSCode config (optional)
.vscode/


frontend/node_modules